.show{
    display:none;
}
a {
    cursor:pointer;
}
h1{
    font-family: 'Cinzel', serif;
}
body{
    background:peachpuff;
    margin:0;
    padding:0;

}

.background{
    margin:0;
    padding:0;
}
#root{
    width:100vw;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.day{
    background-image: url("./images2/WildWestLandscape-05.jpg");
}
.night{
    background-image: url("./images2/WildWestLandscape-06.jpg");
}
#light{
    background:rgba(255, 119, 0, 0.947);
    border:1px solid darkgoldenrod;
    color:black;
    position:absolute;
    top:0;
    right:0;
    margin-top:8px;
    }
#dark{
    background:slategrey;
    color:lightgray;
    position:absolute;
    top:0;
    right:0;
    margin-top:8px;
}
.brown{
    color:brown;
}
#h1day{
    color:brown;
}
#h1night{
    color:white;
}
.btnBrown{
    background:rgba(255, 119, 0, 0.947);
    border:1px solid darkgoldenrod;
}
.dayFooter{
    background:rgba(255, 119, 0, 0.947);
    padding:17px;
    position:absolute;
    bottom:-80px;
    width:100%;
    
}
.nightFooter{
    background:rgba(64, 61, 85, 0.947);
    padding:17px;
    position:absolute;
    bottom:-80px;
    width:100%;
    
}
ul{
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
    margin:auto;
}
#tumble{
    width:35%;
    position:absolute;
    top:75vh;
    animation-name:tumbleweed, leave;
    animation-duration:6s;
    opacity:0;


}

@keyframes tumbleweed{
    0%{left:-20%; transform:rotate(0%);opacity:1;}
    25% {transform:rotate(90deg); opacity:1;}
    50% {transform:rotate(180deg);opacity:.75}
    75% {transform:rotate(270deg);}
    100% {left:100%; transform:rotate(360%);}
}

